@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<GC_Car_Dealership.Models.Car>


@foreach (var getCars in Model)
{
    <p>
    @getCars.CarID
    @getCars.Make
    @getCars.Model
    @getCars.Year
    @getCars.Color
    </p>
}

    <form action="/Home/Result" method="post">


        <label class="control-label">Make</label><input type="text" name="Make" class="form-control" />

        <label class="control-label">Model</label><input type="text" name="Model" class="form-control" />

        <label class="control-label">Color</label><input type="text" name="Color" class="form-control" />

        <label class="control-label">Year</label><input type="text" name="Year" class="form-control" />

        <input type="submit" value="Search" />
        <input type="reset" value="Reset" />

    </form>
