@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<GC_Car_Dealership.Models.Car>


@foreach (var getCars in Model)
{
    <p>
    @getCars.CarID
    @getCars.Make
    @getCars.Model
    @getCars.Year
    @getCars.Color
    </p>
}

